<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hieeway.hieeway">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher_hieeway_square"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_hieeway_circle"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".GroupInfoActivity"></activity>
        <activity android:name=".PhotoViewActivity" />
        <activity android:name=".ExoPlayerActivity" />
        <activity android:name=".OpenMessageShotActivity" />
        <activity
            android:name=".CreateShotActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".GroupChatActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".AddGroupDetailsActivity" />
        <activity android:name=".CreateGroupActivity" />
        <activity android:name=".ChatParentActivity" />
        <activity android:name=".YoutubeLiveVideoSelectionActivity">
            <intent-filter android:label="Watch Together">
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="www.youtube.com"
                    android:mimeType="text/*" />
            </intent-filter>
        </activity>
        <activity android:name=".YoutubeUriParseActivity" />
        <activity android:name=".YoutubeTestActivity" />
        <activity
            android:name=".VerticalPageActivityPerf"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".VideoCallTestActivity" />
        <activity android:name=".SlideButtonTestActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".WebViewActivity" />
        <activity android:name=".MusicPalActivity" />
        <activity
            android:name=".MusicFeedActivity"
            android:theme="@style/MusicFeed" />
        <activity android:name=".SpotifyActivity" />
        <activity android:name=".VideoPlayActivity" />
        <activity android:name=".VideoUploadActivity" />
        <activity android:name=".PhoneAuthenticationActivity" />
        <activity android:name=".ContactsActivity" />
        <activity android:name=".AudioRecorderActivity" />
        <activity android:name=".RegisterAuthenticateActivity" />
        <activity
            android:name="com.spotify.sdk.android.authentication.LoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".ViewProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfilePhotoActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.FullScreen" />
        <activity android:name=".VerticalRegisterationActivity" /> <!-- android:screenOrientation="portrait" -->
        <activity
            android:name=".RevealReplyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RevealedMessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NavButtonTest"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <!--
 android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
        -->
        <activity
            android:name=".NavButtonTestActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            tools:ignore="MissingClass" />
        <activity
            android:name=".RequestTrackerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EphemeralPhotoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EphermeralPhotoActivity"
            android:screenOrientation="portrait"
            tools:ignore="MissingClass" />
        <activity
            android:name=".ephemeral_photo_activity"
            android:screenOrientation="portrait"
            tools:ignore="MissingClass" />
        <activity
            android:name=".VerticalPageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" /> <!-- android:screenOrientation="portrait" -->
        <activity
            android:name=".PhotoTreatmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PhotoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PhotoEditToolsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".CameraActivity"
            android:hardwareAccelerated="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LogActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ChangeGroupDetailsActivity" />

        <receiver android:name="androidx.media.session.MediaButtonReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".MyBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.spotify.music.playbackstatechanged" />
                <action android:name="com.spotify.music.metadatachanged" />
                <action android:name="com.spotify.music.queuechanged" />
            </intent-filter>
        </receiver>

        <service
            android:name=".MyMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".SyncService" />
        <service android:name=".SendMediaService" />
        <service android:name=".MusicBeamService" />
        <service android:name=".MusicPalService" />
        <service android:name=".LiveMessageNotificationService" />
        <service android:name=".MusicSyncNotification" />
        <service android:name=".LiveMessageActiveService" />
    </application>

    <permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />
    <uses-feature android:name="android.hardware.camera" />

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

</manifest>